
$black-blue: rgb(0, 5, 16);
$grey: #e6efec;
$grey-dark: rgb(159, 165, 172);
$shadow: -4px 8px 16px 2px rgba($grey-dark, 0.4);

.multitrek {
  box-sizing: border-box;
  position: relative;
  
  & * {
    box-sizing: border-box;
  }

  &__tracks {
    min-height: 12.8rem;
  }

  &__track {
    position: relative;
    border: 1px solid $grey;
    margin: 0.4rem 0;
    min-height: 12rem;
    box-shadow: $shadow;
    display: flex;
    align-items: center;
    justify-content: stretch;

    &__controls {
      width: 6%;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-grow: 0;
      flex-shrink: 0;
      justify-content: space-between;
      align-items: center;
    }

    &__control {
      width: 60%;
      height: 4rem;
      padding: 0.4rem;
      margin: 0.8rem 0;
      font-weight: bold;
      color: white;
      border-radius: 0.8rem;

      &--mute {
        background-color: white;
        color: #8488eb;
        border-color: #4448ab;
        
        &--active {
          background-color: #3458eb;
          color: white;
          border: 1px solid transparent;
        }
      }
      
      &--solo {
        background-color: white;
        color: #a99f0c;
        border-color: #a98f0c;
        
        &--active {
          color: white;
          background-color: #c9af1c;
          border: 1px solid transparent;
        }
      }
    }

    &--compare {
      position: absolute;
      opacity: 0.8;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
    }
  }

  &__waveform {
    padding: 1.6rem 0;
    width: 94%;
    flex-grow: 10;

    &__svg {
      height: 12rem;
      width: 100%;

      &__sample {
        fill: rgba($black-blue, 0.85);
        transform-origin: center bottom;
        transition: all 160ms ease-in-out;
        opacity: 1;
        transform-origin: center;
      }

      &__shadow {
        opacity: 0.1;
      }

      &--muted {
        .multitrek__waveform__svg__sample {
          opacity: 0.7;
          transform: scale(1, 0.34);
        }
      }
    }
  }

  &__transport {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    position: absolute;
    width: 94%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 90;
    
    &__controls {
      padding: 2rem;
      border: 1px solid $grey;
      border-top: 0;
      box-shadow: $shadow;
      background-color: white;
      flex-shrink: 0;
      display: flex;
    }
    
    &__hud {
      flex-shrink: 0;
      flex-basis: 100%;
      height: 100%;
      width: 100%;
    }

    &__playhead,
    &__cursor {
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 100%;
      border: 0;
      border-left-width: 1px;
      border-left-style: solid;
      pointer-events: none;
    }

    &__playhead {
      border-color: $black-blue;
      mix-blend-mode: difference;
    }
    
    &__cursor {
      border-color: $grey-dark;
      mix-blend-mode: overlay;
    }
  }
}
