
$grey: #e6efec;

.multitrek {
  position: relative;

  &__tracks {
    min-height: 12.8rem;
  }

  &__track {
    position: relative;
    border: 1px solid black;
    min-height: 12rem;

    &__controls {
      padding: 2rem;
      position: absolute;
      z-index: 100;
      left: 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__control {
      width: 4rem;
      height: 4rem;
      padding: 0.4rem;
      font-weight: bold;
      color: white;
      border-radius: 0.8rem;

      &--mute {
        background-color: $grey;
        color: #3458eb;
        border-color: #3458eb;
        
        &--active {
          background-color: #3458eb;
          color: white;
          border: 1px solid transparent;
        }
      }
      
      &--solo {
        background-color: $grey;
        color: #c9af1c;
        border-color: #c9af1c;
        
        &--active {
          color: white;
          background-color: #c9af1c;
          border: 1px solid transparent;
        }
      }
    }

    &--compare {
      position: absolute;
      opacity: 0.8;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
    }
  }

  &__waveform {
    &__svg {
      height: 12rem;
      width: 100%;

      rect {
        transform-origin: center bottom;
        transition: all 160ms ease-in-out;
        opacity: 1;
        transform-origin: center bottom;
      }

      &--muted {
        rect {
          opacity: 0.7;
          transform: scale(1, 0.34);
        }
      }
    }
  }

  &__transport {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 90;

    &__controls {
      flex-shrink: 0;
      display: flex;
    }
    
    &__hud {
      flex-shrink: 0;
      flex-basis: 100%;
      height: 100%;
      width: 100%;
    }

    &__playhead,
    &__cursor {
      position: absolute;
      top: 0;
      left: 100px;
      width: 2px;
      height: 100%;
      border: 0;
      border-left-width: 1px;
      border-left-style: solid;
    }

    &__playhead {
      border-color: #505050;
      mix-blend-mode: difference;
      pointer-events: none;
    }
    
    &__cursor {
      border-color: #909090;
      mix-blend-mode: overlay;
    }
  }
}
